<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/DB_QLMH</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <mapping resource="BangDiemEntity.hbm.xml"/>
        <mapping class="hibernate.BangDiemEntity"/>
        <mapping class="hibernate.KhoaHocEntity"/>
        <mapping resource="KhoaHocEntity.hbm.xml"/>
        <mapping class="hibernate.LopEntity"/>
        <mapping resource="LopEntity.hbm.xml"/>
        <mapping class="hibernate.SinhVienEntity"/>
        <mapping resource="SinhVienEntity.hbm.xml"/>
        <mapping resource="TkbEntity.hbm.xml"/>
        <mapping class="hibernate.TkbEntity"/>
        <mapping resource="TaiKhoanEntity.hbm.xml"/>
        <mapping class="hibernate.TaiKhoanEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>